@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and logo */

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/*  Nav links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 15px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#hero {
    height: 600px;
    width: 100%;
    background: url(../images/old_truck.jpg) no-repeat center center;

    /* animates the zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates level of zoom for the hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* nav links for the different truck types and years */

#browse-trucks {
    padding-top: 30px;
    height: 600px;
    text-align: center;
    font-family: Oswald, sans-serif;
}

.flex-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-box > li {
    background-color: lightcoral;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    list-style-type: none;
}

.flex-box, a {
    text-decoration: none;
    color: #fff;
}

.flex-box-second {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-box-second > li {
    background-color: lightcoral;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    list-style-type: none;
}

.flex-box-second, a {
    text-decoration: none;
    color: #fff;
}