@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and logo */

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/*  Nav links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 15px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */

#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text h2,
h3 {
    padding-left: 10px;
    color: beige;
}

#cover-text h3 {
    padding-top: 5px;
    font-size: smaller;
}

#hero {
    height: 700px;
    width: 100%;
    background: url(../images/old_truck.jpg) no-repeat center center;
    background-size: cover;

    /* animates the zoom effect on loading page */
    animation-name: zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* creates level of zoom for the hero image and the cover text */

@keyframes zoom {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.2);
    }
}

#cover-text {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 400px;
    height: 170px;
    padding-top: 15px;
    padding-left: 10px;
    background-color: rgba(60, 60, 60, 0.6);
    bottom: 50px;
    right: 100px;

    animation-name: zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

    position: absolute;
}

/* nav links for the different truck types and years */

#browse-trucks {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: x-large;
    font-family: Oswald, sans-serif;
}

#browse {
    padding-bottom: 15px;
}

.flex-box {
    margin-left: 28%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 45%;
}

.flex-box li {
    background-color: rgba(243, 76, 73, 0.7);
    margin: 10px;
    line-height: 75px;
    font-size: 50px;
    list-style-type: none;
    flex-basis: 25%;
}

.flex-box,
a {
    text-decoration: none;
    color: beige;
}

.flex-box i {
    color: rgb(5, 5, 4);
}

/* contact info on the homepage */

#contact {
    height: 120px;
    width: 100%;
    background-color: lightcoral;
}

#contact p {
    float: left;
    margin-top: 30px;
    margin-left: 100px;
    font-size: 20px;
    font-family: Oswald, sans-serif;
    color: beige;
}

#contact a {
    margin-left: 120px;
    border: none;
    color: #3a3a3a;
    display: inline-block;
}

#contact a:hover {
    border-bottom: 1px solid #3a3a3a;
}

img {
    height: 120px;
    margin-right: 120px;
    object-fit: contain;
    float: right;
    position: relative;
}

/* contact form */

.contact-section {
    clear: left;
    background: url("../images/old_truck.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
}

.contact-form {
    margin: 100px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.contact-form h2 {
    color: #fff;
    margin-bottom: 10px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

#subject {
    height: 200px;
    width: 100%;
}

.send-button {
    float: left;
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.send-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

.reset-button {
    float: right;
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.reset-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* footer and social links */

footer p {
    float: left;
    padding: 5px 0 5px 5px;
    font-size: 20px;
}

#social-links {
    text-align: right;
}

footer,
#social-links {
    line-height: 50px;
}

#social-links li {
    display: inline;
}

#social-links i {
    margin: 1%;
    color: black;
}