/* fonts from googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings */
h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

/*  Nav links */
nav {
    /* keeping the navbar on top when scroll, code from w3schools */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
}

.header {
    overflow: hidden;
    background-color: #fff;
    padding: 10px 10px;
}

.header a {
    float: left;
    color: #3a3a3a;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-family: Oswald, sans-serif;
    font-size: 25px;
    line-height: 35px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 35px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: rgb(243, 76, 73, 0.7);
    color: white;
}

.header-right {
    float: right;
}
/* dropdown menu, code snippets from w3schools */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 25px;
    border: none;
    outline: none;
    color: #3a3a3a;
    background-color: inherit;
    font-family: Oswald, sans-serif;
    margin: 0;
}

.dropdown-content {
    font-size: smaller;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}

/* hero image and cover text, some of the code from Love Running project */
#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 65px;
}

#cover-text h2,
h3 {
    padding-left: 10px;
    color: beige;
}

#cover-text h3 {
    padding-top: 5px;
    font-size: smaller;
}

#hero {
    height: 700px;
    width: 100%;
    background: url(../images/hero-img.jpg) no-repeat center;
    background-size: cover;
    margin-top: 65px;
    /* animates the zoom effect on loading page */
    animation-name: zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* creates level of zoom for the hero image and the cover text */
@keyframes zoom {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.2);
    }
}

#cover-text {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 400px;
    height: 170px;
    padding-top: 15px;
    padding-left: 10px;
    background-color: rgba(60, 60, 60, 0.6);
    bottom: 50px;
    right: 80px;
    position: absolute;
    object-fit: contain;
}

/* nav links on the home page for the different truck types and years */
#browse-trucks {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: x-large;
    font-family: Oswald, sans-serif;
}

#browse {
    padding-bottom: 15px;
}
/* flexible box for the different time periods on the homepage, code from w3schools */
.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70%;
    margin-left: 15%;
}

.flex-box li {
    background-color: rgba(243, 76, 73, 0.7);
    margin: 10px;
    line-height: 75px;
    font-size: 50px;
    list-style-type: none;
    flex-basis: 25%;
}

.flex-box,
a {
    text-decoration: none;
    color: beige;
}

.flex-box img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* contact info */
#contact {
    height: 120px;
    width: 100%;
    background-color: lightcoral;
}

#contact p {
    float: left;
    margin-top: 30px;
    margin-left: 100px;
    font-size: 20px;
    font-family: Oswald, sans-serif;
    color: beige;
}

#contact a {
    margin-left: 120px;
    border: none;
    color: #3a3a3a;
    display: inline-block;
}

#contact a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.contact-img {
    height: 120px;
    margin-right: 100px;
    object-fit: contain;
    float: right;
    position: relative;
}

/* footer and social links */
#social {
    float: left;
    padding-left: 50px;
    font-size: x-large;
}

#social-links {
    float: right;
    text-align: right;
    padding-right: 50px;
    padding-top: 5px;
}

footer,
#social-links {
    line-height: 50px;
}

#social-links li {
    display: inline;
}

#social-links i {
    color: black;
    font-size: xx-large;
    padding: 5px;
}

/* cover text for different time periods pages */
#cover-text-years {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 500px;
    height: 250px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(60, 60, 60, 0.6);
    bottom: 50px;
    right: 50px;
    position: absolute;
    object-fit: contain;
}

#cover-text-years h2,
h3 {
    padding-left: 10px;
    color: beige;
}

#cover-text-years h3 {
    padding-top: 5px;
    font-size: smaller;
}

/* content for different time periods pages */
#trucks {
    margin: 50px;
}

#trucks p {
    font-size: large;
    font-weight: bold;
}

hr {
    border-top: 1px solid black;
    width: 95%;
    margin: 0 auto;
}

.trucks-right {
    padding-top: 40px;
    margin-left: 80px;
    width: 90%;
}

.trucks-right h2 p a {
    float: right;
}

.left-truck-img {
    float: left;
    width: 400px;
    height: auto;
    margin-left: 80px;
    padding: 20px 100px 20px 0;
}

.trucks-right a {
    color: rgb(102, 102, 112);
}

.trucks-left {
    padding-top: 40px;
    margin-left: 100px;
}

.trucks-left h2 p a {
    float: left;
}

.right-truck-img {
    float: right;
    width: 400px;
    height: auto;
    margin-right: 80px;
    padding: 20px 0 20px 100px;
}

.trucks-left a {
    color: rgb(102, 102, 112);
}

/* contact form, some help from the love running project */
#contact-section {
    background: url(../images/hero-img.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 65px;
    height: 800px;
    width: 100%;
}

.contact-form {
    margin: 70px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 15%;
    padding: 30px;
}

.contact-form h2 {
    color: #fff;
    margin-bottom: 10px;
}

.text-input {
    background: #fafafa;
    color: #0a0a0a;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding-left: 5px;
}

.text-input:hover {
    border-color: #f16c6b;
}

#subject {
    height: 200px;
    width: 100%;
    padding-left: 5px;
    padding-top: 5px;
}

.send-button {
    float: right;
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.send-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

.reset-button {
    float: left;
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: transparent;
    color: #fafafa;
    display: block;
    border: 1px solid #fafafa;
}

.hr-noborder {
    border: 2px solid transparent;
}

/* to keep footer at bottom */
#container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#footer {
    margin-top: auto;
}

/* for smaller screens */
@media screen and (max-width: 750px) {
    .flex-box {
        width: 100%;
        margin-left: 0;
        max-width: none;
    }

    #contact p {
        margin-left: 30px;
    }

    .contact-img {
        margin-right: 15px;
    }

    #social {
        padding-left: 20px;
        font-size: larger;
        float: left;
    }

    #social-links {
        float: none;
        padding-right: 20px;
        font-size: xx-small;
    }
}


@media screen and (max-width: 570px) {
    .dropdown {
        float: none;
    }

    .header a {
        float: none;
        display: block;
        text-align: left;
        padding: 0 0 0 5px;
    }

    .header-right {
        float: right;
    }

    #cover-text {
        width: auto;
        right: auto;
        height: auto;
    }

    #hero {
        width: auto;
        height: 75%;
    }

    #hero-outer {
        height: 500px;
        margin-top: 144px;
    }

    #contact {
        height: 160px;
    }

    #contact p {
        margin-left: 0;
        float: none;
        margin-top: 0;
    }

    .contact-img {
        float: none;
        height: 70px;
    }

    #contact-container {
        text-align: center;
    }

    .contact-form {
        max-width: 290px;
        margin: 40px 10% 0 10%;
        left: 0;
    }
    
    #contact-section {
        margin-top: 130px;
        height: 665px;
    }

}

@media screen and (max-width: 425px) {
    #subject {
        height: 50px;
    }

    .send-button {
        padding: 10px 15px 10px 15px;
    }

    .reset-button {
        padding: 10px 15px 10px 15px;
    }

    #contact-section {
        margin-top: 130px;
        height: 580px;
    }
}

@media screen and (max-width: 370px) {
    #social {
        padding-left: 0;
        font-size: larger;
        float: none;
        text-align: center;
    }

    #social-links {
        padding-right: 0;
        text-align: center;
    }

}

@media screen and (max-width: 345px) {
    #browse {
        font-size: medium;
    }

    #cover-text {
        font-size: smaller;
        top: 200px;
        height: fit-content;
    }

    #hero {
        width: auto;
        height: 75%;
    }

    #hero-outer {
        height: 350px;
        margin-top: 144px;
    }

    .send-button {
        padding: 10px 15px 10px 15px;
        float: none;
    }
}