@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and logo */

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/*  Nav links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 15px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */

#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text h2, h3 {
    padding-left: 10px;
    color: beige;
}

#cover-text h3 {
    font-size: smaller;
}

#hero {
    height: 700px;
    width: 100%;
    background: url(../images/old_truck.jpg) no-repeat center center;
    background-size: cover;

    /* animates the zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates level of zoom for the hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 400px;
    height: 150px;

    padding-top: 30px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 100px;

    position: absolute;
}

/* nav links for the different truck types and years */

#browse-trucks {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: x-large;
    font-family: Oswald, sans-serif;
}

#browse {
    padding-bottom: 15px;
}

.flex-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-box>li {
    background-color: lightcoral;
    width: 150px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 50px;
    list-style-type: none;
}

.flex-box,
a {
    text-decoration: none;
    color: beige;
}

.flex-box-second {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-box-second>li {
    background-color: lightcoral;
    width: 150px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 50px;
    list-style-type: none;
}

.flex-box-second,
a {
    text-decoration: none;
    color: beige;
}

/* contact info on the homepage */

#contact {
    height: 120px;
    width: 100%;
    background-color: lightcoral;
}

#contact p {
    float: left;
    margin-top: 30px;
    margin-left: 100px;
    font-size: 20px;
    font-family: Oswald, sans-serif;
    color: beige;
}

#contact a {
    margin-left: 120px;
    border: none;
    color: #3a3a3a;
    display: inline-block;
}

#contact a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* footer */

footer p {
    padding: 5px 0 5px 5px;
    font-size: 20px;
}
